[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-qpid-proton = "*"
pytest = "*"
"flake8" = "*"
pyyaml = "*"

[dev-packages]
docker = "*"

[requires]
python_version = "3.7"
